<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">
                    Jack-Smith <i class="fa fa-gavel pull-right"></i>
                </h2>
                <p class="card-text text-justify">
                    <img src="../../../assets/demoImages/Jack-Smith.jpg" class="img-thumbnail img-responsive fit-image" />
                </p>

                <address>
          <strong
            >Business, Commercial & Corporate Law Firm in Bangladesh</strong
          ><br />
          <abbr title="address">Add:</abbr> 1234 Example Street Antartica,
          Example 0987<br />
          <abbr title="Phone">P:</abbr> (123) 456-7890<br />
          <a href="mailto:#">smith@gmail.com</a>
        </address>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm" (click)="toggole()">More Info</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">
                    Marc niklaus<i class="fa fa-gavel pull-right"></i>
                </h2>
                <p class="card-text text-justify">
                    <img src="../../../assets/demoImages/marc.jpg" class="img-thumbnail" />
                </p>

                <address>
          <strong
            >Business, Commercial & Corporate Law Firm in Bangladesh</strong
          ><br />
          <abbr title="address">Add:</abbr> 1234 Example Street Antartica,
          Example 0987<br />
          <abbr title="Phone">P:</abbr> (123) 456-7890<br />
          <a href="mailto:#">marc@gmail.com</a>
        </address>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">
                    Michelle juicery <i class="fa fa-gavel pull-right"></i>
                </h2>
                <p class="card-text text-justify">
                    <img src="../../../assets/demoImages/Michelle_good_juicery.png" class="img-thumbnail" />
                </p>

                <address>
          <strong
            >Business, Commercial & Corporate Law Firm in Bangladesh</strong
          ><br />
          <abbr title="address">Add:</abbr> 1234 Example Street Antartica,
          Example 0987<br />
          <abbr title="Phone">P:</abbr> (123) 456-7890<br />
          <a href="mailto:#">juicery@gmail.com</a>
        </address>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="row">
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">
                    DAN MARTELL <i class="fa fa-gavel pull-right"></i>
                </h2>
                <p class="card-text text-justify">
                    <img src="../../../assets/demoImages/DAN-MARTELL.jpeg" class="img-thumbnail" />
                </p>

                <address>
          <strong
            >Business, Commercial & Corporate Law Firm in Bangladesh</strong
          ><br />
          <abbr title="address">Add:</abbr> 1234 Example Street Antartica,
          Example 0987<br />
          <abbr title="Phone">P:</abbr> (123) 456-7890<br />
          <a href="mailto:#">DAN@gmail.com</a>
        </address>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">
                    Jack-Smith <i class="fa fa-gavel pull-right"></i>
                </h2>
                <p class="card-text text-justify">
                    <img src="../../../assets/demoImages/DAN-MARTELL.jpeg" class="img-thumbnail" />
                </p>

                <address>
          <strong
            >Business, Commercial & Corporate Law Firm in Bangladesh</strong
          ><br />
          <abbr title="address">Add:</abbr> 1234 Example Street Antartica,
          Example 0987<br />
          <abbr title="Phone">P:</abbr> (123) 456-7890<br />
          <a href="mailto:#">smith@gmail.com</a>
        </address>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">
                    Jack-Smith <i class="fa fa-gavel pull-right"></i>
                </h2>
                <p class="card-text text-justify">
                    <img src="../../../assets/demoImages/DAN-MARTELL.jpeg" class="img-thumbnail" />
                </p>

                <address>
          <strong
            >Business, Commercial & Corporate Law Firm in Bangladesh</strong
          ><br />
          <abbr title="address">Add:</abbr> 1234 Example Street Antartica,
          Example 0987<br />
          <abbr title="Phone">P:</abbr> (123) 456-7890<br />
          <a href="mailto:#">smith@gmail.com</a>
        </address>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">More Info</a>
            </div>
        </div>
    </div>
</div>