<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About us</h1>
                    <hr>
                    <h4><span class="subheading">we fuel ideas that grow.</span></h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>LSP IT is a software and web application development company aimed at offering high-quality, moderately priced. We view ourselves as partners with our customers, our employees, our community and our environment. We aim to become a regionally
                recognized brand name, capitalizing on the sustained interest in Bangladesh. Our goal is moderate growth, annual profitability and maintaining our sense of humor. We are a web application development, website development and designs company
                located in Dhaka, Bangladesh but we have developed projects for clients in the USA, Europe, Bangladesh, India, Italy, Latin America and more; we specialise in custom web programming.
            </p>
            <hr>
        </div>
    </div>

</div>